:root {
  --background: #F7F6F7;
  --main-orange: #a66514;
  --main-green: #0E492B;
  --orange-rgba:#e5830b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .whatsapp-button {
    bottom: 30px;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
