/* Barra de navegación */
.barra-navegacion {
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 4px;
  text-align:center
}

.logo span {
  font-size: 28px;
  letter-spacing: 4px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-color);
}

nav ul li a:hover::after {
  width: 100%;
}

/* Mobile menu */
@media (max-width: 1024px) {
  nav ul {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .barra-navegacion {
    padding: 1rem 5%;
  }
  
  nav ul {
    display: none; /* Ocultar en móviles (puedes implementar un menú hamburguesa) */
  }
  
  .logo {
    font-size: 1.5rem;
  }
}