.home-container {
  position: relative;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

.home-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/home-background.webp"); 
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.home-container > * {
  position: relative;
}

.home-text {
  position: absolute;
  top: 70%;
  left: 5%;
  font-size: 40px;
  font-weight: 300;
  line-height: 70px;
  color: rgba(248, 248, 248, 0.8);

  width: 100%;
  letter-spacing: 4px;
}

.home-text-p {
  /* margin-left: 10%; */

    font-size:46px
}

.home-text span {
color: var(--main-orange);
  font-weight: 400;
}
