/* footer.css */
.footer-container {
  background-color: #1b1b1bff;
  color: #f5f5f5;
  padding: 30px 5% 30px;
  font-family: inherit;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-brand {
  display: flex;
  flex-direction: row;
  /* center items vertically (logo + slogan) */
  align-items: center;
  gap: 12px;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.logo-text {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.logo-subtext {
  font-size: 1rem;
  margin-left: 5px;
  letter-spacing: 3px;
  color: #a66514;
  position: relative;
  bottom: 3px;
}

.brand-slogan {
  font-size: 0.95rem;
  line-height: 2.3;
  opacity: 0.8;
  margin-top: 0;
  margin-left: 12px;
}

.links-container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-top: 15px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.links-column h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #a66514;
}

.links-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-column {
  align-self: start; /* ensure each links column sits at the top of its grid cell */
}

.links-column li {
  margin-bottom: 12px;
  font-size: 0.9rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.links-column li:hover {
  opacity: 1;
}

.links-column a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links-column a:hover {
  color: #a66514;
}

.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-icon {
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #a66514;
  border-color: #a66514;
  color: #0a0a0a;
}

.copyright {
  font-size: 0.8rem;
  opacity: 0.6;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .links-container{
    flex-direction: column;
    gap: 20px;
    margin-left: 4rem;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-brand {
    margin: 0 auto;
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }

  .brand-slogan {
    font-size: 1.1rem;
  }

  .links-column li {
    font-size: 1.1rem;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .copyright {
    font-size: 1.1rem;
  }
}
